/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    color: #030e12;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3 {
margin-bottom: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fcde67;
}


a {
    color: #5bccf6;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Header Styles */
header {
    background: linear-gradient(to right, #5bccf6);
    color: #030e12;
    padding: 2px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #5bccf6;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #030e12;
}

/* Hero Section */
#hero {
    color: #5bccf6;
    text-align: center;
    padding: 100px 0;
}

#hero .image-container {
    height: 17rem;
    border: 2px solid #5bccf6;
    border-radius: 50%;
    background-color: #fcde67;
    overflow: hidden;
    margin: 0 auto 20px;
    width: 17rem;
}

#hero .image-container img {
    width: 100%;
    height: auto;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #030e12;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #5bccf6;
}

#hero .btn {
    background-color: #fcde67;
    color: #030e12;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 25px;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
}

#hero .btn:hover {
    background-color: #fcde67;
}

/* Section Styles */
section {
    margin: 60px 0;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: #def2f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px (0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px #030e12;
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h3 {
    margin-top: 0;
    color: #030e12;
}

.project-card p {
    color: #0f21bd;
    margin-bottom: 20px;
}

.project-card .btn {
    background-color: #fcde67;
    color: #030e12;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 25px
}